<section role="list" class="list" id="resources">
    <h2>Resources</h2>
    <article class="resource" *ngFor="let res of resources">
      <section *ngIf="hasActiveTag(res)">
          <h3>{{res.Title}}</h3>
          <p [innerHtml]="res.Description"></p>
          <ul class="links">
            <li class="link" *ngFor="let ln of res.Files">
              <a href="{{ln.Url}}" class="link-{{ln.Type}}">{{ln.Name}}</a>
            </li>
          </ul>
          <app-tag-list [tags]="res.tags"></app-tag-list>    
      </section>
    </article>
  </section>