@import '../../settings.scss';

section.about {
	font-size: .9rem;
}

section.main {
	margin-top: 50px;
}

footer.site-footer {
	overflow: hidden;

	margin-top: 100px;
	padding: 80px 0 100px;


	font-size: 12px;

    background-color: $color_foot;
    background: $color_foot; /* Old browsers */
    background: -webkit-linear-gradient(269deg, $color_foot_shadow 0%, $color_foot 25%, $color_foot 100%); /* Chrome10-25,Safari5.1-6 */
    background:    -moz-linear-gradient(269deg, $color_foot_shadow 0%, $color_foot 25%, $color_foot 100%); /* FF3.6-15 */
    background:         linear-gradient(181deg, $color_foot_shadow 0%, $color_foot 25%, $color_foot 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: $color_body;

	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
	        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);

	aside {
		float: left;
		width: 49%;

		&:first-child {
			margin-right: 2%;			
		}
	}
}

@media (max-width: 600px) {
	footer {
		padding-left:  2%;
		padding-right: 2%;
		aside {
			width: 100%;
			margin-bottom: 40px;
			
			&:first-child {
				margin-right: 0;
			}
		}
	}
}