@import '../../settings.scss';

section.about {
	font-size: .9rem;
}

section.main {
	margin-top: 50px;
}

footer {
	overflow: hidden;

	margin-top: 100px;
	padding: 50px 0 100px;

	font-size: 12px;

    background-color: $color_foot;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181818+0,333333+15,333333+100 */
    background: #181818; /* Old browsers */
    background:    -moz-linear-gradient(top, #181818 0%, #333333 10%, #333333 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #181818 0%, #333333 10%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
    background:   linear-gradient(to bottom, #181818 0%, #333333 10%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	color: $color_body;

	aside {
		float: left;
		width: 49%;

		&:first-child {
			margin-right: 2%;			
		}
	}
}

@media (max-width: 600px) {
	footer {
		padding-left:  2%;
		padding-right: 2%;
		aside {
			width: 100%;
			margin-bottom: 40px;
			
			&:first-child {
				margin-right: 0;
			}
		}
	}
}