<h2><i class="fa fa-keyboard-o"></i>  Stories</h2>
<section role="navigation" class="filter">
  <app-tag-list [tags]="allTags" [counts]="tagCounts" [title]="'Filter stories'"></app-tag-list>
  <ul class="option-list">
    <li class="title">Sort stories:</li>
    <li class="option" (click)="setOrder(false)" [class.active]="orderDescending === false">ascending</li>
    <li class="option" (click)="setOrder(true)" [class.active]="orderDescending === true">descending</li>
  </ul>
</section>
<section role="feed" class="feed stories-list" id="stories">
  <article *ngFor="let story of stories" class="single-story">
      <section *ngIf="hasActiveTag(story)" class="story-content" [@visible]="hasActiveTag(story) ? 'yes' : ''">
        <i class="fa fa-file-text-o"></i>
        <h3>
          {{story.Title}}
        </h3>
        <h4>{{story.Date | date:'yyyy-MM-dd'}}</h4>
        <div class="intro" [innerHtml]="story.Description"></div>
        
        <div class="body"  
          *ngIf="currReadMore === story.Id"
          [innerHtml]="story.Content"
          [@visible]="currReadMore === story.Id ? 'yes' : 'no'">
        </div>

        <a class="button" (click)="readMore(story.Id)">
            <span *ngIf="currReadMore !== story.Id">Read more <i class="fa fa-caret-down"></i></span>
            <span *ngIf="currReadMore === story.Id">Read less <i class="fa fa-caret-up"></i></span>
        </a>
    
        <app-tag-list [tags]="story.tags"></app-tag-list>    
      </section>
    </article>     
</section>
