<h2>Stories</h2>
<section role="navigation" class="filter">
  <app-tag-list [tags]="allTags" [counts]="tagCounts" [title]="'Filter stories'"></app-tag-list>		
</section>
<section role="feed" class="feed stories-list" id="stories">
  <article *ngFor="let story of stories" class="single-story">
      <section *ngIf="hasActiveTag(story)">
        <h3>{{story.Title}}</h3>
        <h4>{{story.Date | date:'yyyy-MM-dd'}}</h4>
        <div class="intro" [innerHtml]="story.Description"></div>
        <div class="body"  *ngIf="currReadMore === story.Id" [innerHtml]="story.Content"></div>

        <a class="button" (click)="readMore(story.Id)">
            <span *ngIf="currReadMore !== story.Id">Read more &rsaquo;</span>
            <span *ngIf="currReadMore === story.Id">Read less ^</span>
        </a>
    
        <app-tag-list [tags]="story.tags"></app-tag-list>    
      </section>
    </article>     
</section>
