@import '../settings.scss';

a.button {
    display: inline-block;

    padding: .2rem .5rem;
    margin: 10px 0;

    cursor: pointer;
    font-family: $font_mono;

    background-color: $color_button;
    color: $color_body;
    
    &:hover {
        text-decoration: none;
        background-color: $color_link;
    }
}

.stories-list {
    .single-story {
        margin: 50px 0;

        h3 {
            margin-bottom: 0;
        }
        h4 {
            margin-top: 0;

            font-family:  $font_mono;
        }

        .body {
            border-top: 1px dotted $color_tag;
        }
        & + .single-story {
            border-top: 1px dotted $color_tag;
        }
    }
    .story-content {
        > i.fa {
            display: block;
            float: left;

            margin: .2rem .3rem 0 0;

            font-size: 1.7rem;
        }
    }
}