$font_mono: 'VT323', monospace;
$font_body: 'Zilla Slab', serif;
$font_head: 'Rubik', sans-serif;

$color_body: #f0f2f0;
$color_text: #000;
$color_foot: #333;
$color_link: crimson;

$color_tag: #ccc;
$color_button: #666;
