$font_mono: 'VT323', monospace;
$font_body: 'Zilla Slab', serif;
$font_head: 'Rubik', sans-serif;

$color_body: #f0f2f0;
$color_body_grey: #e8e8e8;
$color_text: #000;
$color_foot: #333333;
$color_foot_shadow: #181818;
$color_link: crimson;
$color_code: #088;

$color_tag: #ddd;
$color_button: #666;
