@import url('https://fonts.googleapis.com/css?family=Rubik:900|VT323|Zilla+Slab:400,400i,700,700i');
@import './app/settings.scss';

body,
html {
    margin: 0;
    padding: 0;
    font-family: $font_body;
    font-size: 20px;
    background-color: $color_body;
}

code, pre {
	display: block;

	padding: 10px 12px;

	font-family: $font_mono;
	white-space: pre-wrap;

	background-color: $color_tag;
	color: #088;
}

body > app-root > article {
	margin: 0;

	>header,
	section.content {
		margin: 15px auto;
		width: 50rem;
		max-width: 98%;
	}
}

a {
    color: $color_link;
    text-decoration: none;
	position: relative;

	&:hover {
		text-decoration: $color_text underline;
	}

	> .fa {
		display: inline-block;
		position: relative;
		font-size: .6rem;
		top: -.25rem;
	}
}

h1, h2, h3 {
	font-family: $font_head;
	font-weight: bold;
	margin: .2rem 0;
}

h1 {
	font-size: 3rem;
	> a {
		color: inherit;
		text-decoration: none;
	}
}
h2 {
	font-size: 1.4rem;
}
h3 {
	font-size: 1rem;
	margin: 1rem 0 .5rem;
}


article.link, article.resource {
	font-size: 16px;
    margin: 12px 0 0;
}

ul.links {
    margin: 0;
    padding: 0;

    list-style-type: none;

    li.link {
        display: inline-block;
		margin-right: 2rem;
					
		a {
			color: $color_link;
			&:hover {
				color: $color_body;
				text-decoration-color: $color_link;
			}
		}
    }
}
